@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
}



/*NAVBAR*/
header {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 3rem 5rem 1rem 5rem;
  border-bottom: 2px solid black;
}

nav {
  width: 100%;  
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}


.nav-logo{
  width: 100%;  
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

nav a {
  font-size: 1.1rem;
  text-decoration: none;
  font-family: 'Abel', sans-serif;}

nav a#logo {
  color: black;
  font-weight: 700;
}

nav ul a {
  color: black;
  font-weight: 600;
}

nav ul a:hover {
  border-bottom: 2px solid #ffffff;
}

h1 {
  font-size: 4rem;
}

#ham-menu {
  display: none;
}

nav ul.active {
  left: 0;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #ffffff;
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: black;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

.container {
  width: 100%;  
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Playfair Display', serif;

}

.weather-pair{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  padding-right: 12%;
}

.weather {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  padding-left: 8%;
}


.tn-tag {
  padding-top: 15em;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Abel', sans-serif;
}

h3{
  font-size: 3em;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, 250px);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.card-image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card-image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  align-self: end;
  align-items: center;
}


